<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/styles.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <div id="gameApp" class="container m-5">
        <h3 class="text-center">Add Referee
            <span class="m-3">
                <a href="referee.html">
                  <button type="button" class="btn btn-primary btn-sm">Back</button>
                </a>
            </span>
        </h3>

        <form v-on:submit.prevent="postNewReferee">
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" v-model="refereeForm.firstName"
               class="form-control" id="firstName">
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" v-model="refereeForm.lastName" class="form-control" id="lastName">
            </div>
            <div class="mb-3">
              <label for="rating" class="form-label">Rating</label>
              <input type="number" v-model="refereeForm.rating" class="form-control" id="rating">
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Age</label>
              <input type="number" v-model="refereeForm.age" class="form-control" id="age">
          </div>
            <div class="mb-3">
              <label for="refGrade" class="form-label">Grade</label>
              <input type="number" v-model="refereeForm.refGrade" class="form-control" id="refGrade">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>
    
