<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="./css/styles.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ISRA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./referee.html">Referee</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./game.html">Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./assignment.html">Assign</a>
            </li>
            <li class='nav-item'>
              <a class="nav-link" href="./report.html">Reports</a> 
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="gameApp" class="container">
      <div class="row my-5">
        <h3 class="text-center">Assignments</h3>
        <table class="table text-center">
          <thead>
            <tr>
              <th>Field</th>
              <th>Match Date</th>
              <th>Referee Name</th>
              <th>Referee Status</th>
              <th>Position</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
              <tr v-for="a in assign">
                  <td>{{a.field}}</td>
                  <td>{{a.matchDate}}</td>
                  <td>{{a.firstName}} {{a.lastName}}</td>
                  <td>{{a.ref_status}}</td>
                  <td>{{a.position}}</td>
                  <td><span v-on:click="postDeleteAssignment(a)" class="me-3 action_icon deleteIcon"><i class="bi bi-trash-fill"></i></span></td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="row my-4 mx-md-5 d-block">
        <div class="col-md-4 col-md-offset-4 justify-content-center mx-auto"> 
          <form v-on:submit.prevent="postAssignment">
            <div class="mb-3">
              <h3 class="text-center">Create Assignment</h3>
              <label for="assigngame" class="col-md-4 col-sm-2 col-form-label">Select game <span class="req">*</span></label>
              <div class="col-md-8 col-sm-10">
                <select name="assigngame" v-model="assignForm.matchID" id="assigngame">
                  <option v-for="g in games" v-bind:value="g.gameID">{{g.field}} | {{g.matchDate}} | {{g.gameTime}}</option>    
                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="assignreferee" class="form-label">Select referee <span class="req">*</span></label>
              <br>
              <select name="assignreferee" v-model="assignForm.refereeID" id="assignreferee">
                <option  v-for="r in referees" v-bind:value="r.refID">{{r.firstName}} {{r.lastName}}</option>    
              </select>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status </label>
              <br>
              <select name="status" v-model="assignForm.ref_status" id="status">
                <option value="Unassigned">Unassigned</option>
                <option value="Assigned">Assigned</option>
                <option value="Tentative">Tentative</option>    
              </select>
            </div>
            <div class="mb-3">
              <label for="position" class="form-label">Position <span class="req">*</span></label>
              <input type="text" v-model="assignForm.position" class="form-control" id="position"  required="required">
            </div>
            <button type="submit" class="m-1 btn btn-success">{{ selectedGame === null ? "Add" : "Edit" }}</button> 
            <button v-if="selectedGame" v-on:click="handleResetEditGame" type="submit" class="btn btn-danger">Cancel</button> 
          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>